.solution.json
.idea
npm-debug.log
.DS_Store

# JS and TS
node_modules/
*.lock
package.json
tsconfig.json
tslint.json

# Ignore markdowns
*.md


# Ignore tests
*test.*
*tests.*
*spec.*
*Tests.*
*Tests*

# Swift
*.playground
.build
.xcodeproj
*Package.swift
.gitignore

# Python
*pycache*

# Dartlang
sdk-version


# Dartlang
sdk-version
.packages
analysis_options.yaml

# Text files
*.txt
